<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.popularmoviesapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- TODO: Fix Network Security for API 28 and up
        If you test your app on the api 28, you will get a blank screen because of Network Security

        Take a look these links for more details:
        https://developer.android.com/about/versions/pie/android-9.0-changes-28
        https://developer.android.com/training/articles/security-config
        https://stackoverflow.com/questions/51990158/android-p-networksecuritypolicy-iscleartexttrafficpermitted-false-when-network

        Ps: Don't forget this attribute cleartextTrafficPermitted=true for next stage :)
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MovieDetailActivity"></activity>
    </application>

</manifest>